* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

:root {
	--dark: #2A2A2A;
	--light: #fff;
	--secondary: #F0EEED;
}

$dark: #2A2A2A;
$light: #fff;
$secondary: #F0EEED;
$bs-icon: "bootstrap-icons";


body {
	font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar-track {background-color: $dark}
body::-webkit-scrollbar {width: 10px}
body::-webkit-scrollbar-thumb {background-color: $light}

::-moz-selection {
	color: $light;
	background: $dark;
	text-shadow: none;
}
::selection {
	color: $light;
	background: $dark;
	text-shadow: none
}

a,a:hover,a:active,a:visited,a:focus {
	color: inherit;
	text-decoration: none;
	outline: 0!important
}
a{transition:all .3s ease}

ol,ul,li{list-style-type:none}
h1,h2,h3,h4,h5,h6,figure,p,nav{margin: 0}
ol,ul,li {
	list-style-type:none;
	margin-top:0;
	margin-bottom:0;
	padding-left:0
}
input,textarea {
	border:0;
	outline:0;
	box-shadow: none;
	resize: none;
	background: transparent
}
input:focus,textarea:focus {
	box-shadow:none;
	border:0;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none
}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {transition:all .2s linear}
textarea::-moz-placeholder,input::-moz-placeholder {transition:all .2s linear}
textarea:-ms-input-placeholder,input:-ms-input-placeholder {transition:all .2s linear}
textarea::placeholder,input::placeholder {transition:all .2s linear}
button {
	background: transparent;
	border: 0;
	outline: 0!important
}
img {max-width: 100%}

.page-wrapper {
	overflow: hidden;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	.logo {
		display: inline-block;
		margin-right: 60px;
	}
	.header-left {
		ul {
			column-gap: 30px;
			display: flex;
			align-items: center;
			a {
				font-size: 14px;
				font-weight: 600;
			}
		}
	}
	.header-right {
		ul {
			display: flex;
			li {
				display: flex;
				align-items: center;
				height: 100%;
				a {
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 12px;
					position: relative;
					&:hover {box-shadow: inset 0 -2px 0 $dark}
					.added-items {
						position: absolute;
						top: 32px;
						right: 2px;
						display: inline-block;
						padding: 3px 7px 2px 6px;
						font-size: 9px;
						background: $dark;
						color: $light;
						border-radius: 4px;
						box-shadow: 0 0 0 1.5px $light;
					}
				}
			}
		}
	}
	
	.cta-button {
		margin-left: 25px;
		& > a {
			display: inline-flex;
			height: 100px;
			justify-content: center;
			align-items: center;
			background: $dark;
			color: $light;
			font-size: 14px;
			font-weight: 700;
			padding: 0 38px;
		}
	}
}

main {
	padding: 120px 0;
}

footer {
	background: $dark;
	box-shadow: inset 0 1px 0 rgba(#fff, 10%);
}

.footer-top {
	& > [class^="container"] {
		padding: 78px 0 80px;
		box-shadow: 0 1px 0 rgba($secondary, 10%);
	}
	h4 {
		font-size: 16px;
		font-weight: 400;
		color: rgba($secondary, 40%);
	}
	
	.footer-logo {
		padding-bottom: 14px;
	}
	
	.subscribe {
		form {
			margin-top: 24px;
			width: 100%;
			display: flex;
		}
		input {
			font-size: 16px;
			font-weight: 300;
			width: 380px;
			height: 48px;
			color: $light;
			background: rgba(#fff, 3%) !important;
			padding: 12px;
			
			&::-webkit-input-placeholder {color: $secondary;}
			&::-moz-placeholder {color: $secondary;}
			&:-ms-input-placeholder {color: $secondary;}
			&::placeholder {color: $secondary;}
		}
		
		button {
			display: inline-block;
			height: 48px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			font-weight: 700;
			background: #959684;
			color: $dark;
			margin-left: 30px;
			padding: 0 26px;
		}
	}
	
	.social-media  {
		margin-top: 24px;
		padding-bottom: 14px;
		display: flex;
		align-items: center;
		column-gap: 24px;
		a {
			i {
				font-size: 24px;
				color: $secondary;
			}
		}
	}
}

.footer-middle {
	& > [class^="container"] {
		margin-top: 75px;
		padding-bottom: 80px;
		box-shadow: inset 0 -1px 0 rgba(#fff, 10%);
	}
	.footer-col {
		&.col-devider {
			position: relative;
			&::before {
				position: absolute;
				content: '';
				width: 1px;
				height: 100%;
				top: 0;
				right: 0;
				background: rgba($secondary, 10%);
			}
		}
		h4 {
			font-size: 16px;
			font-weight: 500;
			color: rgba($secondary, 40%);
			margin-bottom: 50px;
		}
		display: flex;
		column-gap: 65px;
		.footer-box {
			li {
				& + li {
					margin-top: 13px;
				}
				a {
					display: inline-block;
					position: relative;
					font-size: 25px;
					font-weight: 700;
					color: $secondary;
					
					&::before {
						position: absolute;
						content: '\F144';
						font-family: $bs-icon;
						font-size: 16px;
						top: 20px;
						left: calc(100% - 10px);
						opacity: 0;
						transition: all .3s ease;
					}
					&:hover {
						box-shadow: 0 2px 0 $secondary;
					}
					&:hover::before {
						opacity: 1;
						top: 5px;
						left: calc(100% + 5px);
					}
				}
			}
		}
	}
}

.footer-bottom {
	padding: 35px 0;
	p,
	nav a {
		font-size: 14px;
		font-weight: 300;
		color: rgba($secondary, 50%);
	}

	.dev i {
		color: rgba($secondary, 100%);
		padding: 0 5px;
	}
	
	nav {
		li + li {
			position: relative;
			margin-left: 20px;
			padding-left: 20px;
			&::before {
				content: '|';
				font-size: 14px;
				line-height: 26px;
				font-weight: 300;
				color: rgba($secondary, 50%);
				position: absolute;
				left: 0;
			}
		}
		a {
			&:hover {
				color: rgba($secondary, 100%);
			}
		}
	}
}